@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFFFFF;
    --black: #000000;
    --black-verdi: #231F21;
    --beige: #E9E7E1;
    --beige-light: #F5F3ED;
    --gold: #B8B09D;
    --gold-dark: #918B7C;
    --need-changes: #DB3500;
    --transparent: transparent;
}

.gradient__carusel_controler {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(75, 75, 75, 0.8) 100%);
    mix-blend-mode: multiply;
    z-index: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--gold) !important;
}