@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFFFFF;
    --black: #000000;
    --black-verdi: #231F21;
    --beige: #E9E7E1;
    --beige-light: #F5F3ED;
    --gold: #B8B09D;
    --gold-dark: #918B7C;
}